<form action="/delete" method="post" style="height: 35vh;">
    <div class="loginTop">
        <h1>Delete Account</h1>
        <p>By deleting your account, all your data will be permanently removed and cannot be recovered.</p>
    </div>
    <div class="loginMiddle">

        {{#if error}}
        <div id="errMsg">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
            <p>{{msg}}</p>
        </div>
        {{/if}}

        <p style="font-weight: bold;">Please confirm your password to proceed.</p>

        <div class="passwordArea">
            <input type="password" name="password" id="password" class="input" autocomplete="off" required="true">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label for="password">Password</label>
        </div>
    </div>
    <div class="loginBottom">
        <input type="submit" value="Delete Account" class="loginButton">

        <p style="font-weight: bold;">or confirm with your google account</p>
        <div id="g_id_onload" data-client_id={{google_client_id}} data-context="signin" data-ux_mode="popup"
            data-login_uri="/delete" data-auto_prompt="false">
        </div>
        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="filled_black"
            data-text="signin_with" data-size="large" data-logo_alignment="left">
        </div>
    </div>
</form>