<div class="accountStatus">
    <h2>Hello {{user}}</h2>
    <p>You are now logged in and can use the website</p>
    <div class="buttonContainer">
        <a href="/logout" class="actionButton">Logout</a>
        <a href="/delete" class="actionButton">Delete account</a>
    </div>
</div>